* {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
}

.btn-success{
background-color: green;
}

.btn-warning{
background-color: yellow;
}
.btn-danger{
background-color: tomato;
}